body {
	background-image: url(../img/tic-tac-toe.png);
}

.logo{
	font-family: 'Luckiest Guy', cursive;
}

.logo a {
	color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
	text-decoration: none;
}